body {
  background-color: #222a31;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
}

.App {
  margin-top: 25px;
  width: 100%;
  height: 100%;
}

input {
  width: 280px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.Add {
  background-color: #999;
  height: 39px;
  width: 90px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin-left: 12px;
  box-shadow: 6px 6px rgb(0, 0, 0, 0.1);
  color: #222;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline-start: 0px;
  list-style-type: none;
  margin-top: 35px;
  max-width: 100%;
}

li {
  padding: 0px 16px;
  margin-top: 5px;
  width: 80%;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  align-items: center;
  background-color: #303941;
  overflow-wrap: anywhere
}

li span {
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 26px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

span:hover {
  color: rgb(126, 125, 125);
}

.button {
  margin-left: 20px;
}

@media (max-width:385px) {
  input {
    width: 60%;
  }

  li {
    flex-direction: column;
    height: 30%;
  }

  .button {
    padding-bottom: 10px;
  }

}

@media (max-width:285px) {
  .Add {
    width: 55px;
    font-size: 10px;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }

  .tarefa {
    font-size: 15px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .tarefa {
    padding-top: 10px;
  }
}